<div class="container" ng-controller="qualityController">
<div class="col-lg-12">
<div class="panel panel-info" style="background-color:lavender;"> <div class="panel-body"> 
    <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:65%">
      Step - 3
    </div>
  </div></div></div></div>
<div class="col-lg-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            Composite Complexity
        </div>
        <div class="panel-body">
        <div class="row">
       
    </div>
    <div  class="col-md-2"></div>
    <table class="table table-hover">
            <thead>
            <tr><center><h4>Package Name : Reasearch</h4></center></tr>
            <tr><h5 style="color: blue"><b>Class Name : Teacher</b></h5></tr>
            <tr><h5 style="color: grey"><b>Method Name : getDesignation</b></h5></tr>
            <tr>
                <th style="text-align: center">Statement No</th>
                <th style="text-align: center">Executable Statement</th>
                <th style="text-align: center">List of operators</th>
                <th style="text-align: center">List of operands</th>
                <th style="text-align: center">Size(S)</th>
                <th style="text-align: center">Weight due to nesting level of control structures</th>
                <th style="text-align: center">Weight due to inheritance level of control structures</th>
                <th style="text-align: center">Weight due to type of control structures</th>
                <th style="text-align: center">Total weight (Wt)</th>
                <th style="text-align: center">(S)x(Wt)</th>
            </tr>
           
            </thead>
            <tbody>
             <tr>
                <th style="text-align: center">1</th>
                <th style="text-align: center">public String getDesignation() {</th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
            </tr>
            <tr>
                <th style="text-align: center">2</th>
                <th style="text-align: center">return designation;</th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
            </tr>
            <tr>
                <th style="text-align: center">3</th>
                <th style="text-align: center">}</th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
            </tr>
            
            </tbody>
        </table>
        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12">

             <button class="btn btn-info btn-sm pull-right"><b><a style="color:white;" ng-href="#/userfeedback">NEXT >></a></b></button> 
             <button class="btn btn-warning btn-sm pull-right"><b><a style="color:white;" ng-href="#/sourcecodes"><< BACK</a></b></button>
        </div>
</div>

</div>

</div>

</div>
</div>

