<div class="container" ng-controller="dashboardController">
 <div class="jumbotron">
     <center>
    <h1>ProAnalýza</h1>
    <img ng-src="{{image.src}}">
     <p>“ProAnalýza”, program analysis tool which would analyze and measure and display complexity of code effectively using traditional and novel complexity metrics by clearly identifying complex code segments.</p>
   
     </center>
 </div>
 <div class="jumbotron" style="background-color:lavender;">
   
     <div class="row">
       <center>
       <div class="col-sm-4">
       <br>
       <span class="glyphicon glyphicon-open" style="font-size: 35px"></span> <br>
       <button type="button" class="btn btn-info  btn-md"><a href="#/sourcecodes" style="color: white">UPLOAD SOURCE CODE</a></button></div>

       <div class="col-sm-4">
       <br>
       <span class="glyphicon glyphicon-signal" style="font-size: 35px"></span> <br>
       <button type="button" class="btn btn-info  btn-md"><a href="#/developer" style="color: white">DEVELOPER'S ANALYTICS</a></button></div>

       <div class="col-sm-4">
       <br>
       <span class="glyphicon glyphicon-user" style="font-size: 35px"></span> <br>
       <button type="button" class="btn btn-info btn-md"><a href="#/user" style="color: white">REGISTER USER</a></button></div>
       </center>
       </div>
     </div>

 </div>
</div>