<div class="container">
<div class="col-lg-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            Project Recommendation
        </div>
        <div class="panel-body">
        <div class="row">
       
    </div>
   
 
        <label for="understanding" class="col-sm-5 control-label">1. Project Title : </label>
        <div class="col-sm-6">
                <input type="text" class="form-control" id="understanding" >&nbsp;
            </div>
        
        <label for="Uunderstanding" class="col-sm-5 control-label">2. Project Duration : </label>
        <div class="col-sm-3"> From :
                <input type="date" class="form-control" id="Ueunderstanding" >&nbsp;
            </div>
            <div class="col-sm-3"> To :
                <input type="date" class="form-control" id="Udunderstanding" >&nbsp;
            </div>

        <label for="reporting" class="col-sm-5 control-label">3. Description :</label>
        <div class="col-sm-6">
                <textarea id="reporting"   class="form-control" rows="3"></textarea>&nbsp;
            </div>

        <label for="upgrades" class="col-sm-5 control-label">4. Code Quality : </label>
        <div class="col-sm-6">
                <select class="form-control" id="upgrades" placeholder="Code Quality">
               <option></option>
               <option value="High">High</option>
               <option value="Moderate">Moderate</option>
               <option value="Low">Low</option>         
           </select>&nbsp;
            </div>

        <label for="control" class="col-sm-5 control-label">5. Basic Goals : </label>
        <div class="col-sm-6">
                <textarea id="control" class="form-control" rows="3"></textarea>&nbsp;
            </div>

        <label for="adherence" class="col-sm-5 control-label">6. Functional Requirements </label>
        <div class="col-sm-6">
                <textarea id="adherence"  class="form-control" rows="3"></textarea>&nbsp;
            </div>

        <label for="initiatives" class="col-sm-5 control-label">7. Non Functional Requirements : </label>
        <div class="col-sm-6">
                <textarea id="initiatives"   class="form-control" rows="3"></textarea>&nbsp;
            </div>
        <label for="technologies" class="col-sm-5 control-label">8. Marketing Aspects : </label>
        <div class="col-sm-6">
                <textarea id="technologies"   class="form-control" rows="3"></textarea>&nbsp;
            </div>
        
      
        <div  class="col-md-3"></div>
        <div class="col-md-8">
            <button class="btn btn-primary pull-right"><b><a style="color:white;" ng-href="#/recommend/suitable">FIND SUITABLE DEVELOPERS </a></b></button>
        </div>
        <br/>
        
        <br/>
       
</div>

</div>

</div>

</div>
</div>

